<div class ="container">
  <div class="jumbotron text-center">
    <h1>Hello {{user}}</h1>
    <br>
    <ul class="text-left">
      {{#each movies}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>