<div class ="container">
  <div class="jumbotron text-center">
    <h1>Hello <span id="user">{{user}}</span></h1>
    <br>
    <ul class="text-left">
      {{#each movies}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <div id="redditData">
  
  </div>
</div>
