<div class="container">
  <div class="jumbotron">
    
    <h1>Movies with Friends!</h1>
    <hr>
    <h2>Please Login or Signup Below</h2>
    
    <form action="/validation" method="POST">
      
      <label for="usr"><strong>Username:</strong></label>
      <input type="text" class="form-control" id="usr" name="username">
   
      <label for="pwd"><strong>Password:</strong></label>
      <input type="password" class="form-control" id="pwd" name="password">
      
      <br>
      <button type="submit" class="btn btn-primary">Login</button>

    </form>

    <br>

    <a href="login/create"><button type="button" class="btn btn-primary">Signup</button></a>


  </div>
</div>