<div class="container">
  <div class="jumbotron vertical-center">
    
    <h1 class="movieHeader">Movies with Friends!</h1>
    <hr>
    <h1>Please enter a new username and password below:</h1>
    <h2>Thank you fot joining us.</h2>
    
    <form action="create/new" method="POST">
      
      <label for="usr"><strong>New Username:</strong></label>
      <input type="text" class="form-control" id="usr" name="newUser">
   
      <label for="pwd"><strong>New Password:</strong></label>
      <input type="password" class="form-control" id="pwd" name="newPass">
      
      <label for="movies"><strong>Please enter your 5 favorite movies in the 5 blanks below:</strong></label>
      <input type="text" class="form-control" id="favMovies1" name="movies1">
      <br>
      <input type="text" class="form-control" id="favMovies2" name="movies2">
      <br>
      <input type="text" class="form-control" id="favMovies3" name="movies3">
      <br>
      <input type="text" class="form-control" id="favMovies4" name="movies4">
      <br>
      <input type="text" class="form-control" id="favMovies5" name="movies5">

      <br>
      <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp Create Account</button>
      <a href="/"><button type="button" class="btn btn-primary"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp Return to Login Screen</button></a>
    </form>
  </div>
</div>