<div class="container">
  <div class="jumbotron">
    
    <h1>Movies with Friends!</h1>
    <hr>
    <h1>Please enter a new username and password below:</h1>
    <h2>Thank you for joining our family!</h2>
    
    <form action="login/validation" method="POST">
      
      <label for="usr"><strong>New Username:</strong></label>
      <input type="text" class="form-control" id="usr" name="newUser">
   
      <label for="pwd"><strong>New Password:</strong></label>
      <input type="password" class="form-control" id="pwd" name="newPass">
      
      <br>
      <button type="button" class="btn btn-primary">Create Account</button>

    </form>

    <br>

    <a href="/login"><button type="button" class="btn btn-primary">Return to Login Screen</button></a>


  </div>
</div>